:root {
  --light: #ebebeb;
  --dark: #141414;
  --grey: #aaaaaa;
  --crimson: #d61c1a;
  --font-saira: "Saira Extra Condensed", sans-serif;
  --font-sacramento: "Sacramento", cursive;
}

body {
  background-color: var(--light);
  font-family: var(--font-saira);
  font-weight: 600;
}

.custom-cursor {
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6, 0, 0, 1);
  pointer-events: none;
  mix-blend-mode: difference;
}
.custom-cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  box-sizing: border-box;
  transform: scale(1.4);
  box-shadow: inset 0 0 0 10px var(--light);
  transition: transform, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6, 0, 0, 1);
}

.cursor-scale-up {
  transform: scale(4) translate(-50%, -50%);
}

.cursor-scale-down {
  transform: scale(1) translate(-50%, -50%);
}

main .wrapper {
  width: 100%;
  margin: 0 auto;
}
main .row {
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: none;
}
main .col {
  flex: 1;
}
main header {
  padding: 20px 0;
  margin-bottom: 60px;
}
main header .logo-area .logo {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 20px;
}
main header .logo-area .logo span {
  display: block;
}
main header .theme {
  text-transform: uppercase;
  text-align: center;
}
main header .theme .primary {
  color: var(--crimson);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 4px;
}
main header .theme .secondary {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
main header .header-menu .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
main header .header-menu .menu-item a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
  letter-spacing: 2px;
  color: var(--dark);
  cursor: none;
}
main .documentaries .documentary-menu {
  margin: 0 auto;
}
main .documentaries .documentary-menu .menu {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
}
main .documentaries .documentary-menu .menu:hover .menu-item a:not(:hover) {
  color: var(--grey);
  opacity: 0.2;
}
main .documentaries .documentary-menu .menu-item {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
main .documentaries .documentary-menu .menu-item a {
  text-decoration: none;
  color: var(--dark);
  display: inline-flex;
  flex-direction: column;
  transition: all 0.3s;
  cursor: none;
}
main .documentaries .documentary-menu .menu-item a span {
  display: block;
}
main .documentaries .documentary-menu .menu-item a span.primary {
  text-transform: uppercase;
  font-size: 78px;
  font-weight: 800;
}
main .documentaries .documentary-menu .menu-item a span.secondary {
  position: relative;
  top: -22px;
  font-family: var(--font-sacramento);
  font-size: 34px;
  font-style: italic;
  color: transparent;
}
main .documentaries .documentary-menu .menu-item a span.secondary::first-letter {
  text-transform: capitalize;
}
main .documentaries .documentary-menu .menu-item video {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: -1;
  width: 500px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
main .documentaries .documentary-menu .menu-item:hover a span.primary {
  color: var(--crimson);
}
main .documentaries .documentary-menu .menu-item:hover a span.secondary {
  color: var(--light);
}
main .documentaries .documentary-menu .menu-item:hover video {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */