:root {
    --light: #ebebeb;
    --dark: #141414;
    --grey: #aaaaaa;
    --crimson: #d61c1a;
    --maroon: #602120;
    --font-saira: 'Saira Extra Condensed', sans-serif;
    --font-sacramento: 'Sacramento', cursive;
    --font-lato: 'Lato', sans-serif;
}

html {
    cursor: none;
}


body {
    background-color: var(--light);
    font-family: var(--font-saira);
    font-weight: 600;
}

// test the custom cursor line by line

.custom-cursor {
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.6, 0, 0, 1);
    pointer-events: none;
    mix-blend-mode: difference;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 10px;
        height: 10px;
        margin-top: -5px;
        margin-left: -5px;
        border-radius: 50%;
        box-sizing: border-box;
        transform: scale(1.4);
        box-shadow: inset 0 0 0 10px var(--light);
        transition: transform, box-shadow;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.6, 0, 0, 1);
    }
}

.cursor-scale-up {
    transform: scale(4) translate(-50%, -50%);
}

.cursor-scale-down {
    transform: scale(1) translate(-50%, -50%);
}

header {
    padding: 20px 0;
    .wrapper {
        width: 100%;
        margin: 0 auto;
        .row {
            padding: 0 20px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            cursor: none;
        }

        .logo-area {
            .logo {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 32px;
                margin-bottom: 20px;

                span {
                    display: block;
                }
            }

            .hamburger {
                padding: 0;
                transform: scale(0.85);
                cursor: none;
                &-inner, &-inner::after, &-inner::before {
                    height: 2px;
                }
            }
        }

        .theme {
            text-transform: uppercase;
            text-align: center;
            .primary {
                color: var(--crimson);
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 2px;
                margin-bottom: 4px;
            }
            .secondary {
                // font-family: var(--font-lato);
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }

        .header-menu {
            .menu {
                display: flex;
                align-items: center;
                gap: 20px;

                &-item {
                    a {
                        font-size: 16px;
                        text-transform: uppercase;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        letter-spacing: 2px;
                        color: var(--dark);
                        cursor: none;
                    }
                }
            }
        }

        .main-menu {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            margin-top: 60px;

            .menu {
                max-width: fit-content;
                margin: auto;
                
                &-item {
                    position: relative;
                    text-align: center;
                    margin-bottom: 20px;
                    a {
                        text-decoration: none;
                        color: var(--dark);
                        display: inline-flex;
                        flex-direction: column;
                        transition: all 0.3s;
                        cursor: none;

                        span {
                            display: block;

                            &.primary {
                                text-transform: uppercase;
                                font-size: 78px;
                                font-weight: 800;
                            }

                            &.secondary {
                                position: relative;
                                top: -22px;
                                font-family: var(--font-sacramento);
                                font-size: 34px;
                                font-style: italic;
                                color: transparent;

                                &::first-letter {
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                    video {
                        position: absolute;
                        pointer-events: none;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 500px;
                        transition: opacity 0.3s ease-in-out;
                        opacity: 0;
                    }

                    &:hover {
                        a span {
                            &.primary {
                                color: var(--crimson);
                            }

                            &.secondary {
                                color: var(--light);
                            }
                        }

                        video {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    .menu-item a:not(:hover) {
                        color: var(--grey);
                        opacity: 0.2;
                    }
                }
            }
        }
    }
}
